<div class="container">
    <div class="top-row">
      <div class="image-container" *ngFor="let image of topImages; let i = index">
        <div class="counter">{{ counts[i] }}</div>
        <img 
          [src]="image.src" 
          alt="Image {{ i + 1 }}" 
          class="rotated" 
          (click)="handleClick(i, $event)">
      </div>
    </div>
    <div class="divider"></div>
    <div class="bottom-row">
      <div class="image-container" *ngFor="let image of bottomImages; let i = index">
        <div class="counter">{{ counts[i + topImages.length] }}</div>
        <img 
          [src]="image.src" 
          alt="Image {{ i + 1 + topImages.length }}" 
          (click)="handleClick(i + topImages.length, $event)">
      </div>
    </div>
  </div>
  