<div class="container">

  <div class="floating-text" *ngIf="lossVisible">
    {{totalLifeLost}}</div>
  
  <div class="floating-text-2" style="rotate: 180deg;" *ngIf="lossVisible2">
    {{totalLifeLost2}}</div>

  <div class="turn-indicator" [class.active-top]="activePlayer === 'top'" [class.active-bottom]="activePlayer === 'bottom'">
    <button class="turn-button" (click)="toggleActivePlayer()">
      {{ !activePlayer ? 'Start Game' : 'Switch Turn' }}
    </button>
  </div>

  <div class="top-row" style="margin-top: 15px;">
    <div class="column">
      <div class="image-container" *ngFor="let image of leftImages; let i = index">
      <div class="counter text" style="transform: rotate(180deg);bottom: 50%;">{{ counts[i] }}</div>
        <img style="transform: rotate(180deg);padding-top: 5dvh;" [src]="image.src" alt="Image {{ i + 1 }}"
          (click)="handleInvertedClick(i, $event)">
        </div>
    </div>
    <div class="column">
      <div class="lp-container">
        <div class="life text" style="transform: rotate(180deg);">{{ topLife }}</div>
        <img class="lp-image" src="{{ baseHref }}assets/pictures/white276x.png" alt="" (click)="handleLife('top', $event)">
      </div>
    </div>
    <div class="column">
      <div class="image-container" *ngFor="let image of rightImages; let i = index">
        <div class="counter text" style="transform: rotate(180deg);bottom: 50%;">{{ counts[i+2] }}</div>
          <img style="transform: rotate(180deg); padding-top: 5dvh;" [src]="image.src" alt="Image {{ i + 1 }}"
            (click)="handleInvertedClick(i+2, $event)">
          </div>
    </div>
  </div>

  <div class="bottom-row">
    <div class="column">
      <div class="image-container" *ngFor="let image of leftImages; let i = index">
      <div class="counter text" style="top: 50%;">{{ counts[i+4] }}</div>
        <img style="padding-top: 5dvh;" [src]="image.src" alt="Image {{ i + 1 }}"
          (click)="handleClick(i+4, $event)">
        </div>
    </div>
    <div class="column">
      <div class="lp-container">
        <div class="life text">{{ bottomLife }}</div>
        <img class="lp-image" src="{{ baseHref }}assets/pictures/white276x.png" alt="" (click)="handleLife('bottom', $event)">
      </div>
    </div>
    <div class="column">
      <div class="image-container" *ngFor="let image of rightImages; let i = index">
        <div class="counter text" style="top: 50%;">{{ counts[i+6] }}</div>
          <img style="padding-top: 5dvh;" [src]="image.src" alt="Image {{ i + 1 }}"
            (click)="handleClick(i+6, $event)">
          </div>
    </div>
  </div>

</div>