.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  
  .top-row, .bottom-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .rotated {
    transform: rotate(180deg);
  }
  
  .divider {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 20px 0;
  }
  
  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .counter {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    z-index: 1;
    pointer-events: none;
  }
  
  .life {
    transform: translateY(10%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    font-size: 10em;
    color: black;    
    pointer-events: none;
  }

  .element-img {
    width: 69px;
    height: 69px;
    cursor: pointer;
    z-index: 0;
    margin: 15px;
  }
  
  .lp-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35vh;
  }

  *:not(.counter) {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }


