.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  
  .top-row, .bottom-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .top-row .rotated {
    transform: rotate(180deg);
  }
  
  img {
    width: 69px;
    height: 69px;
    margin: 5px;
  }
  
  .divider {
    width: 100%;
    height: 2px;
    background-color: black; /* Puedes cambiar el color si lo deseas */
    margin: 20px 0; /* Ajusta el margen según necesites */
  }  