<div class="container">
    <div class="top-row">
      <img src="../../assets/pictures/air_element.jpg" class="rotated" alt="img1a">
      <img src="../../assets/pictures/earth_element.jpg" class="rotated" alt="img2a">
      <img src="../../assets/pictures/fire_element.jpg" class="rotated" alt="img3a">
      <img src="../../assets/pictures/water_element.jpg" class="rotated" alt="img4a">
    </div>

    <div class="divider"></div>


    <div class="bottom-row">
        <img src="../../assets/pictures/air_element.jpg" alt="img1b">
        <img src="../../assets/pictures/earth_element.jpg"alt="img2b">
        <img src="../../assets/pictures/fire_element.jpg" alt="img3b">
        <img src="../../assets/pictures/water_element.jpg" alt="img4b">
    </div>
  </div>