app-life-counter {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/pictures/Sorcery Art/vasily-ermolaev-dagger-copy_waifu2x_art_noise1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}